<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer th:fragment="footer">
        <div class="container py-1 my-1">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Hogar</font>
                        </font>
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Características</font>
                        </font>
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Precios</font>
                        </font>
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">preguntas frecuentes</font>
                        </font>
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Sobre</font>
                        </font>
                    </a></li>
            </ul>
            <p class="text-center text-muted">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">© 2021 Empresa, Inc.</font>
                </font>
            </p>
        </div>
    </footer>
</body>

</html>