<!DOCTYPE html>
<html lang="en">

<head th:replace="/layouts/head::head">
</head>

<body>
  <div th:replace="/layouts/header::header"></div>

  <div class="contenido">
    <div class="container">
      <div class="contenedor py-4">
        <div class="container">
          <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
            <div class="row">
              <div class="col-10">Plantel Docente</div>
              <div class="col-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="btn btn-primary" th:href="@{/docente/nuevo}">Nuevo</a>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="text-center" scope="col">Código</th>
                  <th class="text-center" scope="col">Legajo</th>
                  <th class="text-center" scope="col">Apellido</th>
                  <th class="text-center" scope="col">Nombres</th>
                  <th class="text-center" scope="col">E-mail</th>
                  <th class="text-center" scope="col">Teléfono</th>
                  <th class="text-center" scope="col" colspan="2">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="docente : ${docentes}">
                  <td th:text="${docente.id}"></td>
                  <td th:text="${docente.legajo}"></td>
                  <td th:text="${docente.apellido}"></td>
                  <td th:text="${docente.nombre}"></td>
                  <td th:text="${docente.email}"></td>
                  <td th:text="${docente.telefono}"></td>
                  <td><a th:href="@{/docente/editar/}+${docente.legajo}" class="btn btn-warning">editar</a></td>
                  <td><a th:href="@{/docente/eliminar/}+${docente.legajo}" class="btn btn-danger">eliminar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div th:replace="/layouts/footer::footer"></div>



  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>

</html>